[Unit]
Description=Demarrage de Klax
After=network-online.target sound.target
Wants=network-online.target sound.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/home/klax/Documents/GitHub/Klax/klax_looper/start_klax.sh
WorkingDirectory=/home/klax/Documents/GitHub/Klax/klax_looper/
Restart=always
User=klax

[Install]
WantedBy=multi-user.target


# chmod +x /home/klax/Documents/GitHub/Klax/klax_looper/start_klax.sh
# /etc/systemd/system/klax.service
# sudo systemctl daemon-reload
# sudo systemctl enable klax
# sudo systemctl start klax
# journalctl -u klax -f